Condiciones/Service References/ServicioClausulaWCF/ServicioClausulas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4691/ServicioClausulas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioConsultaClausulas" />
  <xs:element name="ObtenerCondiciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioConsultaClausulas" minOccurs="0" name="Consulta" nillable="true" type="q1:ConsultaCondicionesDTO" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCondicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioConsultaClausulas" minOccurs="0" name="ObtenerCondicionesResult" nillable="true" type="q2:GruposClausulaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCondicionesXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlConsulta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCondicionesXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCondicionesXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioConsultaClausulas" minOccurs="0" name="Consulta" nillable="true" type="q3:ConsultaCondicionesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertirConsultaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioConsultaClausulas" minOccurs="0" name="Grupos" nillable="true" type="q4:GruposClausulaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertirGruposResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>