PruebaCondiciones/Web References/ServicioTarifaTestingWS/ServicioTarifaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AgregarTarifa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarTarifaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarTarifaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AgregarTarifaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarTarifa" />
  </wsdl:message>
  <wsdl:message name="AgregarTarifaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarTarifaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioTarifaWSSoap">
    <wsdl:operation name="AgregarTarifa">
      <wsdl:input message="tns:AgregarTarifaSoapIn" />
      <wsdl:output message="tns:AgregarTarifaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioTarifaWSSoap" type="tns:ServicioTarifaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarTarifa">
      <soap:operation soapAction="http://tempuri.org/AgregarTarifa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioTarifaWSSoap12" type="tns:ServicioTarifaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarTarifa">
      <soap12:operation soapAction="http://tempuri.org/AgregarTarifa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioTarifaWS">
    <wsdl:port name="ServicioTarifaWSSoap" binding="tns:ServicioTarifaWSSoap">
      <soap:address location="http://172.17.0.111:8027/ServicioTarifaWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioTarifaWSSoap12" binding="tns:ServicioTarifaWSSoap12">
      <soap12:address location="http://172.17.0.111:8027/ServicioTarifaWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>