Condiciones/Service References/ServicioTarifaLocal/ServicioTarifa2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioConsultaClausulas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioConsultaClausulas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TarifaWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activa" type="xs:boolean" />
      <xs:element minOccurs="0" name="Anual" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoPais" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTarifa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoGrupoClausula" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:ProductoWS" />
      <xs:element minOccurs="0" name="Sufijo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TarifaWS" nillable="true" type="tns:TarifaWS" />
  <xs:complexType name="ProductoWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoWS" nillable="true" type="tns:ProductoWS" />
</xs:schema>